apiVersion: v1
kind: Service
metadata:
  name: {{ include "nyckml-helm.fullname" . }}-frontend
  labels:
    {{- include "nyckml-helm.labels" . | nindent 4 }}
spec:
  type: {{ .Values.frontend.service.type }}
  ports:
    - port: {{ .Values.frontend.service.port }}
      targetPort: {{ .Values.frontend.service.port }}
      protocol: TCP
      name: http
      {{- if or (eq .Values.frontend.service.type "NodePort") (eq .Values.frontend.service.type "LoadBalancer") }}
      nodePort: {{ .Values.frontend.service.nodePort | default 30003 }}
      {{- end }}
  selector:
    {{- include "nyckml-helm.selectorLabels" . | nindent 4 }}
