# Default values for nyckml-helm.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

frontend:
  service:
    type: NodePort
    port: 80
    nodePort: 30003
  replicaCount: 2
  image:
    repository: docker.io/danielhmetro/nyckml
    # This sets the pull policy for images.
    pullPolicy: IfNotPresent
    # Overrides the image tag whose default is the chart appVersion.
    tag: latest
  livenessProbe:
    httpGet:
      path: /status.php
      port: http
  readinessProbe:
    httpGet:
      path: /status.php
      port: http
  resources:
    limits:
      cpu: 256m
      memory: 256Mi
    requests:
      cpu: 100m
      memory: 64Mi

imageCredentials:
  registry: docker.io

# This is to override the chart name.
nameOverride: ""
fullnameOverride: ""

# This is for setting Kubernetes Annotations to a Pod.
# For more information checkout: https://kubernetes.io/docs/concepts/overview/working-with-objects/annotations/
podAnnotations: {}
# This is for setting Kubernetes Labels to a Pod.
# For more information checkout: https://kubernetes.io/docs/concepts/overview/working-with-objects/labels/
podLabels: {}

nodeSelector: {}

tolerations: []

affinity: {}
